.hero {
  /* height: 892px; */
  background-image: url("../../public//assets/home/desktop/bg-pattern-hero-home.svg");
  background-color: #e7816b;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin-top: 0.5rem;
}

.heroInformation {
  color: #fff;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 0.05rem;
  font-size: 15px;
}

.title {
  font-weight: 500;
  padding: 0 1.8rem 2rem;
  line-height: 2.2rem;
}

.paragraph {
  font-size: 14px;
  padding: 0 0.65rem;
  font-weight: 100;
  line-height: 1.7rem;
}

.cta {
  text-transform: uppercase;
  padding: 1.25rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 1.6rem 0;
  font-size: 16px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #333136;
}

.cta:hover{
  background-color: #FFAD9B;
  color: #fff;
}

.heroImage {
  background-image: url("../../public/assets/home/desktop/image-hero-phone.png");
  height: 545px;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: -5.5rem;
}

@media (min-width: 768px) {
  .hero {
    margin: 2rem 3rem 0;
    border-radius: 0.7rem;
    /* height: 919px; */
    background-position: 134px 145px
  }
  .title {
    font-size: 55px;
    line-height: 3.5rem;
  }

  .heroImage{
    height: 560px;
  }

  .paragraph {
    margin: 0px 5rem;
    font-size: 16px;
    line-height: 1.9rem;
    font-weight: 500;
  }
}

@media (min-width: 1020px) {
  .hero {
    margin: 1.8rem auto;
    height: 608px;
    background-position: right;
    width: 1106px;
  }

  .heroSection {
    display: flex;
    padding-top: 2rem;
  }

  .heroImage {
    flex: 1;
    margin-top: -6rem;
    height: 673px;
  }

  .heroInformation {
    flex: 1;
    text-align: left;
    margin:0 3rem;
  }

  .title {
    font-size: 36px;
    padding: 0 0 1.5rem 1.8rem;
  }

  .paragraph{
    margin: 0 1.5rem;
    font-size: 14px;
  }

  .cta{
    margin: 1.8rem 2rem;
  }
}
